#draggable {
	position: absolute;
	top:40px; 
	right:-20px; 
	z-index:2000; 
	width:300px; 
	padding:10px;
	font-size:10px; 
	font-family:sans-serif;
	border:1px solid;
	opacity: 0.85;
	border-color: white;
	box-shadow: 7px 7px 3px #888;
	float:right;
	background-color:rgba(255,255,255,0.86);
}

#yearlabel, #classlabel, #statelabel{
	font-size:15px;
	text-align: center;
}
#class, #year, #click, #statediv{
	text-align:center;
}

img.drag {
	width: 200px;
}
#click {
	color:yellow;
}
.facebook,.twitter {
	width:30px;
	height:30px;
}


#click {
	margin: 20px 0px;
	text-align:center;
}
.mainspan {
	position: relative;
}

.navbar {
	background-color: #F8F8F8  ;
}
 
#map {

  	width: 1200px;
  	height: 640px;
 	position:relative;
 	background-color: #f5f5ed;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}
 
.stations, .stations svg {
  position: absolute;
}
 
.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}
 
.stations circle {
  fill: red;
  stroke: lightblue;
  stroke-width: 1.5px;
}